POSTGRES_HOST=HOST
POSTGRES_PORT=PORT
POSTGRES_DB=walletdb
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD

JWT_SECRET=DefaultSecretKeyUntukDevelopmentLokalYangSangatPanjangSekali123!@#
JWT_EXPIRATION=86400000

MIDTRANS_SERVER_KEY=

AUTH_SERVICE_USERNAME_RESOLVER_ENABLED=true
AUTH_SERVICE_BASE_URL=http://localhost:8080
AUTH_SERVICE_TIMEOUT_MS=1000
