POSTGRES_HOST=HOST
POSTGRES_PORT=PORT
POSTGRES_DB=walletdb
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD

JWT_SECRET=DefaultSecretKeyUntukDevelopmentLokalYangSangatPanjangSekali123!@#
JWT_EXPIRATION=86400000

MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_MERCHANT_ID=
MIDTRANS_SNAP_TOKEN_PREFIX=midtrans-snap-
MIDTRANS_SNAP_REDIRECT_BASE_URL=https://snap.midtrans.com/checkout/

AUTH_SERVICE_USERNAME_RESOLVER_ENABLED=true
AUTH_SERVICE_BASE_URL=http://localhost:8080
AUTH_SERVICE_TIMEOUT_MS=1000

ORDER_SERVICE_PUBLISHER_ENABLED=false
ORDER_SERVICE_BASE_URL=http://localhost:8081
ORDER_SERVICE_TIMEOUT_MS=1000

# Optional test overrides
TEST_DB_URL=jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
TEST_DB_DRIVER=org.h2.Driver
TEST_DB_USERNAME=sa
TEST_DB_PASSWORD=
TEST_JPA_DIALECT=org.hibernate.dialect.H2Dialect
TEST_JPA_DDL_AUTO=create-drop
TEST_H2_CONSOLE_ENABLED=false
TEST_MIDTRANS_SERVER_KEY=test-server-key
TEST_MIDTRANS_CLIENT_KEY=test-client-key
TEST_MIDTRANS_MERCHANT_ID=test-merchant-id
TEST_MIDTRANS_SNAP_TOKEN_PREFIX=midtrans-snap-
TEST_MIDTRANS_SNAP_REDIRECT_BASE_URL=https://snap.midtrans.com/checkout/
